
.div_1{
    padding: 50px 0 50px 0;
    background-color: aqua;
    border: 1px solid black;
}
.div_2{
    padding: 0 50px 0 50px;
    background-color: firebrick;
    border: 1px solid black;
}
.div_3{
    padding: 50px 0 0 0;
    background-color: sandybrown;
    border: 1px solid black;
}
.div_4{
    padding: 0 50px 0 0;
    background-color: mediumblue;
    border: 1px solid black;
}
.div_5{
    padding: 0 0 50px 0;
    background-color: darkgoldenrod;
    border: 1px solid black;
}
.div_6{
    padding: 0 0 0 50px;
    background-color: forestgreen;
    border: 1px solid black;
}